# Ignore node_modules folder in the root directory
node_modules/

# Ignore node_modules in the client and server folders
client/node_modules/
server/node_modules/

# Ignore package-lock.json files in the root, client, and server folders
package-lock.json
client/package-lock.json
server/package-lock.json
